<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Test Suite">
    <test name="Login Test">
        <classes>
            <class name="tests.webview.LoginTest">
                <methods>
                    <include name="shouldLoginSuccessfully" />
                </methods>
            </class>
        </classes>
    </test>
</suite>